input {
    width: 230px;
    height: 35px;
    margin: 40px 10px 20px;
    border:2px solid #D5D4D8;
    border-radius: 5px;
}

.button {
    width: 495px;
    height: 40px;
    background-image: linear-gradient(#6A2283, #6C2386);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}